<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chef-dashboard</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <header class="restaurant-header">
        <div class="logo-container">
            <img src="/images/Lakshya_logo.jpg" alt="LakshyaFiesta Logo" class="logo">
            <h1 class="restaurant-name">LakshyaFiesta</h1>
        </div>
    </header>
    <p>Welcome to the Chef Dashboard!</p>
    <a href="/chef/logout" class="logout-button">Logout</a>

    
</body>
</html>